<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-7.1</platform>
    <feature>restfulWS</feature>
    <feature>jsonb</feature>
    <feature>jsonp</feature>
    <feature>cdi</feature>
    <feature>mpConfig</feature>
    <feature>mpRestClient</feature>
    <!-- tag::mpFaultTolerance[] -->
    <feature>mpFaultTolerance</feature>
    <!-- end::mpFaultTolerance[] -->
    <!-- tag::mpMetrics[] -->
    <feature>mpMetrics</feature>
    <!-- end::mpMetrics[] -->
  </featureManager>

  <variable name="http.port" defaultValue="9080"/>
  <variable name="https.port" defaultValue="9443"/>

  <!-- tag::quickStartSecurity[] -->
  <quickStartSecurity userName="admin" userPassword="adminpwd"/>
  <!-- end::quickStartSecurity[] -->

  <httpEndpoint host="*" httpPort="${http.port}"
    httpsPort="${https.port}" id="defaultHttpEndpoint"/>

  <webApplication location="guide-microprofile-fallback.war" contextRoot="/"/>
</server>
